{% extends "main_template.html"%}

{% block title %}

{% endblock %}

{% block main_container %}
<div class="container">
    <h2>room details</h2>
    <!-- 제목 -->
    <span class="room_details brand">{{ rooms.room_brand }} </span>
    <span class="room_details local">{{ rooms.room_local }} </span>
    <span class="room_details title">{{ rooms.room_title }}</span>

    <!-- 이미지 슬라이드 -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{ rooms.room_image }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ rooms.room_image }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="{{ rooms.room_image }}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- 버튼 -->
    <div class="tab-btn-list" style=" text-align: center;" >
        <div class="tab-btn" style="display:inline-block">지점 소개</div>
        <div class="tab-btn" style="display:inline-block">상세 정보</div>
        <div class="tab-btn" style="display:inline-block">위치 및 교통</div>
        <div class="tab-btn" style="display:inline-block">투어하기</div>
    </div>
    <!-- 내용 -->
    <div class="tab-list text-center">
        <div> 지점 소개 </div>
        <div>{{ rooms.room_text }}</div>
        <div> 상세 정보 </div>
        <div >{{ rooms.room_text }}</div>
        <div> 위치 및 교통 </div>
        <img src="/images/map.PNG" alt="">
    </div>
</div>
{% endblock %}