{% extends "main_template.html"%}

{% block title %}
입주 후기
{% endblock %}

{% block main_container %}
<div class="container">
<h2>입주 후기</h2>
<form>
<div class="row">
        <div class="col-7">
            <input class=searchcss type="search" name="word" value="{{reviews.word}}">
        </div>
        <div class="col-2">
            <button type="submit" formaction="/community/moveinreviews" class="searchbutton btn btn-outline-primary">
                    검색</button>
        </div>
        <div class="col-3">
            <button type="submit" formaction="/community/writereview" class="searchbutton btn btn-outline-primary">
                글쓰기</button>
        </div>
    </div>
</form>
<!-- 검색 항목 추가 필요 -->
<form action="">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>No. </th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>댓글수</th>
            </tr>
        </thead>
        {% if reviews == False %}
        <p>{{ message }}</p>
        {% else %}
        <tbody>
            {% for review in reviews %}
            <tr>
                <td>{{ loop.index0+1 }}</td>
                <td><a href="/community/reviewdetails/{{review.id}}">{{ review.review_title}}</a></td>
                <td>영지</td>
                <td>24/01/14</td>
                <td>1</td>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    </table>
</form>
</div>
{% endblock %}