{% extends "main_template.html"%}

{% block title %}
FAQ

{% endblock %}

{% block main_container %}
<form action="">
  <table class="table table-hover">
      <thead>
          <tr>
              <th>번호</th>
              <th>카테고리</th>
              <th>제목</th>
              <th>작성일</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>John</td>
              <td>Doe</td>
              <td> <a href="faqs_details"> john@example.com</a></td>
              <td></td>
          </tr>
          <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@example.com</td>
              <td></td>
          </tr>
          <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
              <td></td>
          </tr>
      </tbody>
  </table>
  <ul class="">
    <li class="nav-item">
        <a class="nav-link" href="/notice/faqs_inputs" >FAQ 작성</a>
    </li>
   
  </ul>
</form>
<div>
  <h2>normal paginations</h2>
  <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</div>

{% endblock %}