{% extends "main_template.html"%}

{% block title %}
FAQ

{% endblock %}

{% block main_container %}
<div class="container" >
<form action="">
  <table class="table table-hover">
      <thead>
          <tr>
              <th>번호</th>
              <th>카테고리</th>
              <th>제목</th>
              <th>작성일</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>John</td>
              <td>Doe</td>
              <td> <a href="qnas_details"> john@example.com</a></td>
              <td></td>
          </tr>
          <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>mary@example.com</td>
              <td></td>
          </tr>
          <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>july@example.com</td>
              <td></td>
          </tr>
      </tbody>
  </table>
  <ul class="">
    <li class="nav-item">
        <a class="nav-link" href="/notice/qnas_inputs" >qna 작성</a>
    </li>
   
  </ul>
</form>
</div>
</div>
{% endblock %}